# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = int(input())

 5

#### 2. asign any number of type float to the variable "num_2"

num_2 = float(input())

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [6]:
total = num_1 + num_2
print(total)

8.14

#### 4. check the type of variable "total"

In [7]:
type(total)

float

#### 5. assign variable "height" with your height

In [8]:
height = 157

#### 6. asign variable "mass" with your weight

In [9]:
mass = 52

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [12]:
bmi = mass/(height*height)

#### 8. print value from "bmi" variable

In [13]:
print(bmi)

0.002109619051482819

# String

#### 1. Create variable "name" with your first name

In [14]:
name = 'LAN'

#### 2. Create variable "surname" with your surname

In [16]:
surname = 'NGUYEN'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [17]:
name_surname = name + " "+surname

#### 4. print variable "name_surname"

In [18]:
print(name_surname)

LAN NGUYEN

#### 5. print first letter from variable "name_surname"

In [19]:
print(name_surname[0])

L

#### 6. print your name (without enmpty space) from variable "name_surname"

In [24]:
name_surname.replace(" ","")

'LANNGUYEN'

#### 7. print your surname 10x (use variable surname)

In [25]:
surname*10

'NGUYENNGUYENNGUYENNGUYENNGUYENNGUYENNGUYENNGUYENNGUYENNGUYEN'

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [32]:
message = "Hello my name is " + name_surname

#### 9. print "message" variable

In [33]:
print(message)

Hello my name is LAN NGUYEN

## List

#### 1. create empty list with name "empty_list"

In [38]:
empty_list = []

#### 2. create list "heights" with five random values

In [41]:
heights = [1,2,3,4,5]

#### 3. print heights

In [42]:
print(heights)

[1, 2, 3, 4, 5]

#### 4. print type of variable "heights"

In [43]:
type(heights)

list

#### 5. print second value from "heights"

In [44]:
print(heights[1])

2

#### 6. assign last three values from "heights" to another list "heights_2"

In [46]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [47]:
print(heights_2)

[3, 4, 5]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [48]:
list_all = heights + heights_2

#### 9. print "list_all"

In [49]:
print(list_all)

[1, 2, 3, 4, 5, 3, 4, 5]

#### 10. print the type of "list_all"

In [50]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [51]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [52]:
empty_tuple[0] = 'LAN'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In tuple, object does not support item assignment

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [54]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [55]:
heights_dict = {'LAN':157}

#### 3. asign another name and height to "heights_dict"

In [56]:
heights_dict['Nam']=155

#### 4. print "heights_dict" dictionary

In [57]:
print(heights_dict)

{'LAN': 157, 'Nam': 155}

#### 5. print your height from the "heights_dict" dictionary

In [60]:
print(heights_dict['LAN'])

157

#### 6. print all values from "heights_dict" dictionary

In [62]:
print((heights_dict.values()))

dict_values([157, 155])

#### 7. print all keys from "heights_dict" dictionary

In [64]:
print(heights_dict.keys())

dict_keys(['LAN', 'Nam'])